.footer {
  width: 100%;
  background: white;
  padding: 10px;
}

.footerSection{
  color: #21325e;
  width: 100%;
  margin: 20px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer p {
  color: white;
}

@media only screen and (max-width: 600px) {
  .footerSection{
    flex-direction: column;
  }
  .footer svg {
    font-size: 10px;
  }
}
